<?xml version="1.0"?>
<config>
	<modules>
		<Shiptheory_Upsst>
			<version>0.0.4</version>
		</Shiptheory_Upsst>
	</modules>
	<global>
		<models>
			<upsst>
				<class>Shiptheory_Upsst_Model</class>
			</upsst>
		</models>
		<helpers>
			<upsst>
				<class>Shiptheory_Upsst_Helper</class>
			</upsst>
		</helpers>
		<blocks>
			<upsst>
				<class>Shiptheory_Upsst_Block</class>
			</upsst>
		</blocks>
	</global>
	<admin>
		<routers>
			<upsst>
				<use>admin</use>
				<args>
					<module>Shiptheory_Upsst</module>
					<frontName>upsst</frontName>
				</args>
			</upsst>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<shiptheory>
					<file>shiptheory.xml</file>
				</shiptheory>
			</updates>
		</layout>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<upsst translate="title" module="upsst">
											<title>UPS Setup</title>
											<sort_order>20</sort_order>
										</upsst>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
</config>
