<?xml version="1.0"?>
<config>
	<sections>
		<upsst translate="label" module="upsst">
			<label>UPS</label>
			<tab>shiptheory</tab>
			<class>upsst-section</class>
			<frontend_type>text</frontend_type>
			<sort_order>1</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
				<groups>
					<hint>
					    <frontend_model>upsst/adminhtml_system_config_fieldset_hint</frontend_model>
					    <sort_order>0</sort_order>
					    <show_in_default>1</show_in_default>
					    <show_in_website>1</show_in_website>
					    <show_in_store>1</show_in_store>
					</hint>		
				</groups>
		</upsst>
	</sections>
</config>
